*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* shared-css  */
.d-flex{
    display: flex;
}
.fix-width{
    max-width: 1160px;
    margin: auto;
    margin-bottom: 60px;
}
/* common-css */
.common-btn{
    border: none;
    background: #FEA301;
    color: white;
    font-weight: 500;
    font-size: 20px;
    width:  200px;
    height: 50px;
    border-radius: 12px;
}
.bg-black{
    background: #000;
}


/* header */
header{
    background: white;

}
.header-content{
    justify-content: space-between;
    align-items: center;
    margin: 25px auto !important;
    
}
.header-logo{
    align-items: center;
}
.header-logo h1{
    margin-left: 10px;
}
header li{
    font-size: 20px;
    font-weight: 500;
    margin-right: 32px;
}
header li:nth-child(1) a{
    color: #FEA301;
}
header li:nth-child(2) a{
    color: #01ACFD;
}
header li:nth-child(3) a{
    color: #05D4DF;
}
header li:nth-child(4) a{
    color: #5D58EF;
}
.hamburgericon span{
    display: none;
    font-size: 30px;

}
/* banner  */
.banner-content{
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    max-width: 640px;
}
.banner-left h1{
    font-size: 56px;
    font-weight: bold;
}
.banner-left h1 span:nth-child(1){
    color: #FEA301;
}
.banner-left h1 span:nth-child(3){
    color: #01ACFD;
}

.banner-left p{
    font-size: 20px;
    color: #111111;
    margin: 24px 0;
}
/* curriculum  */
.curriculum{
    background-image: url(img/bg.png);
    background-size: cover;
}
.curriculum-headline{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px; 
}
.curriculum .cards{
    justify-content: space-between;
    gap: 29px;
}
.curriculum .card{
    text-align: center;
    padding: 53px 40px;
    border-radius: 19px;
    width: 367px;
    box-shadow:inset 0 0 28px rgba(97, 97, 97, 0.05);
    
}
.curriculum .card-1{
    background: linear-gradient(#DEF5FF, white 50%);
    border: 1px solid #DEF5FF;
}
.curriculum .card-2{
    background: linear-gradient(#FFF4DC, white 50%);
    border: 1px solid #FFF4DC;
}
.curriculum .card-3{
    background: linear-gradient(#F2E8FF, white 50%);
    border: 1px solid #F2E8FF;
}
.curriculum .card h3{
    font-size: 24px;
    font-weight: bold;
    margin: 33px 0;
}
.curriculum .card p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 33px;
    color: #808080;
}
.curriculum .card a{
    font-size: 15px;
    font-weight: bold;
}
.curriculum .card-1 a{
    color: #64C8FF;
}
.curriculum .card-2 a{
    color: #F0AA00;
}
.curriculum .card-3 a{
    color: #8700FF;
}
.angle-icons{
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    margin-top: 80px;
}
.angle-icons span{
    background: #FEA301;
    height: 60px;
    width: 60px;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
}
/* stories  */
.stories{
    background:url(img/bg.png), linear-gradient(white, rgba(254, 161, 1, 0.3));
    padding-bottom: 1px;
}
.stories h1{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
    justify-content: center;
}
#box-1{
    grid-row: span 2;
    grid-column: span 2;
}
.box{
    border-radius: 16px;
    background: white;

}
.box img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.texts{
    padding: 0 38px 28px 38px;
}
.texts .button{
    font-size: 15px;
    font-weight: 500;
}
.texts h3{
    font-size: 15px;
    font-weight: bold;
}
/* box-1  */

.box .button{
    background: #95B226;
    width: 175px;
    padding: 10px 0;
    text-align: center;
    color: white;
    border-radius: 50px;
    transform: translateY(-24px);
}
#box-1 .button{
    padding: 15px 0;
    transform: translateY(-30px);
    background: #3CD8E8;

}
#box-3 .button{
    background: #5D58F0;
}
#box-5 .button{
    width: 127px;
}
#box-1 h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}
#box-1 p{
    font-size: 15px;
    font-weight: 500;
}
.stories-content button{
    display: block;
    margin:  auto;
    margin-top: 60px;

}
marquee{
    font-size: 30px;
    font-weight: bolder;
    color: #F0AA00;
    margin-top: 20px;
}
marquee span{
    color: green;
}
/* footer  */
footer{
    background: #01ACFD;
    padding: 120px 0 180px 0;
}
.footer-content{
    justify-content: space-between;
}
footer .logo img{
    width: 83px;
    height: 100%;
    margin-right: 10px;
}
footer .logo{
    width: 400px;
}
footer .logo p{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
footer .logo div{
    align-items: center;
    margin-left: -6px;
    margin-bottom: 35px;

}
footer .logo h1{
    width: 210px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

/* nav-bar  */
.nav-bar h1{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}
.nav-bar ul li{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
/* icons  */
.footer-icons h1{
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}
.footer-icons img{
    margin-right: 10px;
}