*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* shared-css  */
.d-flex{
    display: flex;
}
.fix-width{
    max-width: 1160px;
    margin: auto;
    margin-bottom: 60px;
}
/* common-css */
.common-btn{
    border: none;
    background: #FEA301;
    color: white;
    font-weight: 500;
    font-size: 20px;
    width:  200px;
    height: 50px;
    border-radius: 12px;
}
.bg-black{
    background: #000;
}


/* header */
header{
    background: white;

}
.header-content{
    justify-content: space-between;
    align-items: center;
    margin: 25px auto !important;
    
}
.header-logo{
    align-items: center;
}
.header-logo h1{
    margin-left: 10px;
}
header li{
    font-size: 20px;
    font-weight: 500;
    margin-right: 32px;
}
header li:nth-child(1) a{
    color: #FEA301;
}
header li:nth-child(2) a{
    color: #01ACFD;
}
header li:nth-child(3) a{
    color: #05D4DF;
}
header li:nth-child(4) a{
    color: #5D58EF;
}
.hamburgericon span{
    display: none;
    font-size: 30px;

}
/* banner  */
.banner-content{
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    max-width: 640px;
}
.banner-left h1{
    font-size: 56px;
    font-weight: bold;
}
.banner-left h1 span:nth-child(1){
    color: #FEA301;
}
.banner-left h1 span:nth-child(3){
    color: #01ACFD;
}

.banner-left p{
    font-size: 20px;
    color: #111111;
    margin: 24px 0;
}
/* curriculum  */
.curriculum-headline{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px; 
}
.curriculum .cards{
    justify-content: space-between;
    gap: 29px;
}
.curriculum .card{
    text-align: center;
    padding: 53px 40px;
    border-radius: 19px;
    width: 367px;
    box-shadow:inset 0 0 28px rgba(97, 97, 97, 0.05);
    
}
.curriculum .card-1{
    background: linear-gradient(#DEF5FF, white 50%);
    border: 1px solid #DEF5FF;
}
.curriculum .card-2{
    background: linear-gradient(#FFF4DC, white 50%);
    border: 1px solid #FFF4DC;
}
.curriculum .card-3{
    background: linear-gradient(#F2E8FF, white 50%);
    border: 1px solid #F2E8FF;
}
.curriculum .card h3{
    font-size: 24px;
    font-weight: bold;
    margin: 33px 0;
}
.curriculum .card p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 33px;
    color: #808080;
}
.curriculum .card a{
    font-size: 15px;
    font-weight: bold;
}
.curriculum .card-1 a{
    color: #64C8FF;
}
.curriculum .card-2 a{
    color: #F0AA00;
}
.curriculum .card-3 a{
    color: #8700FF;
}
.angle-icons{
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    margin-top: 80px;
}
.angle-icons span{
    background: #FEA301;
    height: 60px;
    width: 60px;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
}