
@media screen and (max-width:576px) {
    .header-logo h1,
    header nav,
    header button,
    .angle-icons,
    .stories #box-1{
        display: none;
    }
    header{
        border: 1px solid #FEA301;
    }
    .fix-width{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .hamburgericon span{
        display: block;
    }
    /* banner */
    
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-left{
        text-align: center;
    }
    .banner-right{
        justify-content: center;
    }
    .banner-right img{
        /* width: 100%; */
        width: calc(100% - 16px);
    }
    /* curriculum */
    .curriculum .cards{
        flex-direction: column;
        align-items: center;
    }
    .curriculum .card{
        width: calc(100% - 100px);
    }
    /* stories  */
    .stories .boxes{
        grid-template-columns: repeat(2, 40%);
    }
    .stories .box{
        max-width: 100%;
    }
    .texts{
        padding: 0 15px 28px 15px;
    }
    .box .button{
        transform: scale(0.8) translateY(-32px);
    }
}