
@media screen and (max-width:576px) {
    .header-logo h1,
    header nav,
    header button,
    .angle-icons{
        display: none;
    }
    header{
        border: 1px solid #FEA301;
    }
    .fix-width{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .hamburgericon span{
        display: block;
    }
    /* banner */
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-left{
        text-align: center;
    }
    .banner-right{
        justify-content: center;
    }
    .banner-right img{
        /* width: 100%; */
        width: calc(100% - 16px);
    }
    /* curriculum */
    .curriculum .cards{
        flex-direction: column;
        align-items: center;
    }
}